.gallery-photo {
    display: inline-block;
    cursor: pointer;
    width: 200px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    margin: 5px;
    -webkit-filter: brightness(40%);
    -moz-filter: brightness(40%);
    -ms-filter: brightness(40%);
    -o-filter: brightness(40%);
    filter: brightness(40%);
}

.gallery-photo:hover {
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    -ms-filter: brightness(100%);
    -o-filter: brightness(100%);
    filter: brightness(100%);
}

#gallery-block {
    background: #444444;
}

#gallery {
    height: auto;
    width: calc(100vw * 1000);
    overflow-x: hidden;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

@keyframes slide {
    0% {
        -webkit-transform: translateX(100vw);
        -moz-transform: translateX(100vw);
        -ms-transform: translateX(100vw);
        -o-transform: translateX(100vw);
        transform: translateX(100vw);
    }
    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

}

#top-photo {

   /*width: 100%;*/
   /*max-height: 70vh;*/
    /*overflow: hidden;*/
    /*position: absolute;*/
    /*top: 25%;*/
    /*left: 50%;*/
    /*!*border-radius: 20px;*!*/
    /*-webkit-transform: translate(-50%, -25%);*/
    /*-moz-transform: translate(-50%, -25%);*/
    /*-ms-transform: translate(-50%, -25%);*/
    /*-o-transform: translate(-50%, -25%);*/
    /*transform: translate(-50%, -25%);*/
}

#top-photo img {
    border-radius: 20px;
    width: 100%;
    min-height: 75vh;
    max-height: 75vh;
    object-fit: cover;
    object-position: center;
    /*animation: fade-in .5s ease-in-out;*/
    animation: slide .3s ease-in-out;

}
#top-photo div {
   
    animation: slide .3s ease-in-out;

}

.top-photo {
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    -ms-filter: brightness(100%);
    -o-filter: brightness(100%);
    filter: brightness(100%);
}

.play-3d:hover{
    -ms-filter: invert(0.2);
    filter: invert(0.2);
}
.close-gallery-container{
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.close-gallery-container:hover{
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
}

@media(max-width: 768px){
    #top-photo{
        min-width: 100vw;
    }
    #top-photo div{
        margin: 0 10px;
    }
    #top-photo img {

        min-height: 50vh;
        max-height: unset;
    }
}