@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size:24px;
    background: #F5FAFF;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
*::before,*::after{
    margin:0;
    padding:0;

}
.language-switcher{
    position: relative;
    padding-left: 15px;
    padding-right:15px;
}
.language-switcher::before{
    content: url("../images/language-icon.svg");
    position: absolute;
    left:-15px;
    top:3px;
    cursor:pointer;
}
.language-switcher::after{
    content: url("../images/arrow-bottom.svg");
    position: absolute;
    right: -10px;
    top: -3px;
    cursor:pointer;
}
footer{
    background: #E6EFFA;
}